@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-montserrat), sans-serif;

  --color-primary: #FFCC2D;
  --color-primary-hover: #E6B826;
  --color-black: #252525;
  --color-white: #FFFFFF;

  --color-bg-page: #FFF9E8;
  --color-bg-card: #FFFFFF;
  --color-border: #EDE7D3;

  --color-success: #28A96B;
  --color-danger: #E85B5B;
  --color-warning: #D98B20;
  --color-info: #4B7BEC;

  --color-text: #252525;
  --color-text-muted: #6F716F;
}

body {
  background: var(--color-bg-page);
  color: var(--color-text);
}
